@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
    box-sizing: border-box;

}
body {
font-family: 'Roboto',sans-serif;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
height: 66vh;
overflow: hidden;

}
    .container{
       display: flex;
        width: 60vw;
        
        
}
    .panel{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        border-radius: 50px;
        color: #fd7777;
        cursor: pointer;
        flex: 0.5;
        margin: 5px;
        position: relative;
height: 100vh;
transition: flex 0.7s ease-in;

}

.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
   
}
.panel.active {

flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s; 

}
